<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:cover {"url":"https://nyancat4.files.wordpress.com/2023/05/aq38c844r6771.png","id":22,"hasParallax":true,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","contentPosition":"center center","isDark":false,"align":"full"} -->
<div class="wp-block-cover alignfull is-light has-parallax" style="min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div role="img" class="wp-block-cover__image-background wp-image-22 has-parallax" style="background-position:50% 50%;background-image:url(https://nyancat4.files.wordpress.com/2023/05/aq38c844r6771.png)"></div><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group has-black-color has-text-color has-link-color"><!-- wp:group {"style":{"spacing":{"blockGap":"30px"}}} -->
<div class="wp-block-group"><!-- wp:site-logo {"shouldSyncIcon":true,"align":"center","className":"is-style-rounded"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"left","id":20,"width":88,"height":88,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image alignleft size-full is-resized"><img src="https://nyancat4.files.wordpress.com/2023/05/expression-bubble-with-lol-word-line-style-free-vector-removebg-preview.png" alt="" class="wp-image-20" width="88" height="88" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:site-title {"level":6,"textAlign":"center","isLink":false,"style":{"typography":{"textTransform":"capitalize","letterSpacing":"0px","textDecoration":"none","fontStyle":"normal","fontWeight":"700"}},"fontSize":"medium"} /-->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><strong><em><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-secondary-color">Nyan Is A Memecoin Launched On BSC. The Cryptocurrency Was Created As A Tribute To The Nyan Cat Internet Meme, Created By Chris Torres, Which Gained Popularity In The Early 2000s.<br>The Project Aims To Capitalize On The Popularity Of Meme Coins, Such As Shiba Inu And Dogecoin, And Strives To Establish Itself As One Of The Top Meme-Based Cryptocurrencies.</mark></em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="wp-block-heading has-text-align-center"><em><strong>Coinmarketcap</strong></em></h3>
<!-- /wp:heading -->

<!-- wp:image {"align":"center","id":16,"width":114,"height":114,"sizeSlug":"thumbnail","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-thumbnail is-resized is-style-rounded"><img src="https://nyancat4.files.wordpress.com/2023/05/descarga__1_-removebg-preview.png?w=150" alt="" class="wp-image-16" width="114" height="114" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="wp-block-heading has-text-align-center"><em><strong>coingecko</strong></em></h3>
<!-- /wp:heading -->

<!-- wp:image {"align":"center","id":17,"width":98,"height":98,"sizeSlug":"large","linkDestination":"none","style":{"color":{"duotone":"unset"}}} -->
<figure class="wp-block-image aligncenter size-large is-resized"><img src="https://nyancat4.files.wordpress.com/2023/05/descarga-removebg-preview.png?w=220" alt="25" class="wp-image-17" width="98" height="98" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->